@using Microsoft.AspNetCore.Identity;
@model IEnumerable<AllasModel>;
@inject SignInManager<AllasUser> SignInManager
@inject UserManager<AllasUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<style>
    navbar {
        background-color: darkolivegreen;
    }

</style>

<div class="container-fluid text-center">
    <div class="row">
        <h1 class="display-4">Welcome to Állásbörze!</h1>
    </div>
    
    <b>@UserManager.GetUserName(this.User)</b>

    <ul>
        @foreach (var allas in Model)
        {
            @if (SignInManager.IsSignedIn(User))
            {
                if ((await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(this.User), "Admin")))
                {
                     <li>
                         <b>@allas.Pozicio</b> (Órabér: @allas.Oraber, Jelentkezők: @allas.Dolgozok.Count) - <i>@allas.Leiras</i>
                         <ol>
                            @foreach (var user in allas.Dolgozok)
                            {
                                <li>@user.FirstName @user.LastName</li>
                            }
                        </ol>
                     </li>
                } else if ((await UserManager.GetUserAsync(this.User))?.Oraber <= allas.Oraber)
                {
                    <div class="card" style="width: 18rem; background-color: lightgreen; margin: 20px">
                      <div class="card-body">
                        <h5 class="card-title"><b>@allas.Pozicio</b></h5>
                        <h6 class="card-title">(Órabér: @allas.Oraber, Jelentkezők: @allas.Dolgozok.Count)</h6>
                        <p class="card-text">@allas.Leiras</p>
                            <a class="btn btn-outline-primary" href="/Home/Jelentkez?id=@allas.Id">Jelentkez</a>
                      </div> 
                    </div>
                }
            } else
            {
                <li><b>@allas.Pozicio</b> (Órabér: @allas.Oraber) - <i>@allas.Leiras</i></li>
            }
        }
    </ul>
</div>
