@using Microsoft.AspNetCore.Identity;
@model IEnumerable<AllasModel>;
@inject SignInManager<AllasUser> SignInManager
@inject UserManager<AllasUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <b>@UserManager.GetUserName(this.User)</b>

    <ul>
        @foreach (var allas in Model)
        {
            @if (SignInManager.IsSignedIn(User))
            {
                if ((await UserManager.GetUserAsync(this.User))?.Oraber <= allas.Oraber)
                {
                    <li><b>@allas.Pozicio</b> (Órabér: @allas.Oraber, Jelentkezők: @allas.Dolgozok.Count) - <i>@allas.Leiras</i> <a href="/Home/Jelentkez?id=@allas.Id">Jelentkez</a></li>
                }
            } else
            {
                <li><b>@allas.Pozicio</b> (Órabér: @allas.Oraber) - <i>@allas.Leiras</i></li>
            }
        }
    </ul>
</div>
